body {
    text-align: center;
}
h1,h3 {
    text-decoration: underline;
}
.btn {
    height: 200px;
    width: 200px;
    border-radius: 20px;
    border: 6px solid black;
    margin: 25px;
}
.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.red {
    background-color: #C80036;
}
.yellow {
    background-color: #bf990f;
}
.green {
    background-color: #097f07;
}
.purple {
    background-color: #604CC3;
}
.flash {
    background-color: white;
}

